<ion-header>
  <ion-toolbar  color="dark">
    <ion-title>Editar Disco</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
 
  <ion-item>
    <ion-label>Artista</ion-label>
    <ion-input [(ngModel)]="data.artista" placeholder="Introduzca nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Titulo</ion-label>
    <ion-input [(ngModel)]="data.titulo" placeholder="Introduzca titulo"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Fecha</ion-label>
    <ion-datetime displayFormat="MM DD YY" [(ngModel)]="data.fecha" placeholder="Seleccione fecha"></ion-datetime>
  </ion-item>
  <ion-button (click)="update()" color="success" size="small">
    Actualizar
  </ion-button>
  <ion-button [routerLink]="[ '/list']" color="danger" size="small">
    Cancelar
  </ion-button>
</ion-content>